# Python Database Demo

## Part 1 - Connecting DB using sqlite3 module and performing CRUD operations

In [ ]:
#sqlite3 module is used to perform CRUD operations and connect DB with python.

import sqlite3
conn = sqlite3.connect('company.db')

### 1.1 Table Creation

In [ ]:
conn.execute("create table jobmarket(eid int,ename text)")
print("table is created")

### 1.2 Data Insertion

In [ ]:
conn.execute("insert into jobmarket(eid,ename) \
      values (1, 'Paul')");
conn.execute("INSERT INTO jobmarket(eid,ename) \
     values (2, 'Allen' )");

conn.execute("insert into jobmarket(eid,ename) \
     values(3,'John')");
conn.commit();
print("records are inserted");

### 1.3 Retrieving data

In [ ]:
cursor = conn.execute("select eid,ename from jobmarket");
for row in cursor:
    print("EID:",row[0]);
    print("ENAME:",row[1]);

In [ ]:
conn.execute("update jobmarket set ename='sachin' where eid=1");
conn.commit()
cursor = conn.execute("select eid,ename from jobmarket");
for row in cursor:
    print("EID:",row[0]);

### 1.4 Delete operation

In [ ]:
conn.execute("delete from jobmarket where eid=1");
print("total:",conn.total_changes);
conn.commit()
cursor = conn.execute("select eid,ename from jobmarket");
for row in cursor:
    print("EID:",row[0]);
    print("ENAME:",row[1]);

## Part 2 - Connecting with MySQL database

### 2.1. Connecting with MySQL database "TESTDB"

In [ ]:
#!/usr/bin/python

import MySQLdb

# Open database connection
db = MySQLdb.connect("localhost","testuser","test123","TESTDB" )

# prepare a cursor object using cursor() method
cursor = db.cursor()

# execute SQL query using execute() method.
cursor.execute("SELECT VERSION()")

# Fetch a single row using fetchone() method.
data = cursor.fetchone()
print "Database version : %s " % data

# disconnect from server
db.close()

### 2.2 Create Database table EMPLOYEE

In [ ]:
#!/usr/bin/python

import MySQLdb

# Open database connection
db = MySQLdb.connect("localhost","testuser","test123","TESTDB" )

# prepare a cursor object using cursor() method
cursor = db.cursor()

# Drop table if it already exist using execute() method.
cursor.execute("DROP TABLE IF EXISTS EMPLOYEE")

# Create table as per requirement
sql = """CREATE TABLE EMPLOYEE (
         FIRST_NAME  CHAR(20) NOT NULL,
         LAST_NAME  CHAR(20),
         AGE INT,  
         SEX CHAR(1),
         INCOME FLOAT )"""

cursor.execute(sql)

# disconnect from server
db.close()

### 2.3 Executes SQL INSERT statement to create a record into EMPLOYEE table dynamically

In [ ]:
#!/usr/bin/python

import MySQLdb

# Open database connection
db = MySQLdb.connect("localhost","testuser","test123","TESTDB" )

# prepare a cursor object using cursor() method
cursor = db.cursor()

# Prepare SQL query to INSERT a record into the database.
sql = "INSERT INTO EMPLOYEE(FIRST_NAME, \
       LAST_NAME, AGE, SEX, INCOME) \
       VALUES ('%s', '%s', '%d', '%c', '%d' )" % \
       ('Mac', 'Mohan', 20, 'M', 2000)
try:
   # Execute the SQL command
   cursor.execute(sql)
   # Commit your changes in the database
   db.commit()
except:
   # Rollback in case there is any error
   db.rollback()

# disconnect from server
db.close()

### 2.4 Write a procedure queries all the records from EMPLOYEE table having salary more than 1000

In [ ]:
#!/usr/bin/python

import MySQLdb

# Open database connection
db = MySQLdb.connect("localhost","testuser","test123","TESTDB" )

# prepare a cursor object using cursor() method
cursor = db.cursor()

sql = "SELECT * FROM EMPLOYEE \
       WHERE INCOME > '%d'" % (1000)
try:
   # Execute the SQL command
   cursor.execute(sql)
   # Fetch all the rows in a list of lists.
   results = cursor.fetchall()
   for row in results:
      fname = row[0]
      lname = row[1]
      age = row[2]
      sex = row[3]
      income = row[4]
      # Now print fetched result
      print "fname=%s,lname=%s,age=%d,sex=%s,income=%d" % \
             (fname, lname, age, sex, income )
except:
   print "Error: unable to fecth data"

# disconnect from server
db.close()

### 2.5 Write a Procedure updates all the records having SEX as 'M'. Here, we increase AGE of all the males by one year.

In [ ]:
#!/usr/bin/python

import MySQLdb

# Open database connection
db = MySQLdb.connect("localhost","testuser","test123","TESTDB" )

# prepare a cursor object using cursor() method
cursor = db.cursor()

# Prepare SQL query to UPDATE required records
sql = "UPDATE EMPLOYEE SET AGE = AGE + 1
                          WHERE SEX = '%c'" % ('M')
try:
   # Execute the SQL command
   cursor.execute(sql)
   # Commit your changes in the database
   db.commit()
except:
   # Rollback in case there is any error
   db.rollback()

# disconnect from server
db.close()

### 2.6 Write a procedure to delete all the records from EMPLOYEE where AGE is more than 20

In [ ]:
#!/usr/bin/python

import MySQLdb

# Open database connection
db = MySQLdb.connect("localhost","testuser","test123","TESTDB" )

# prepare a cursor object using cursor() method
cursor = db.cursor()

# Prepare SQL query to DELETE required records
sql = "DELETE FROM EMPLOYEE WHERE AGE > '%d'" % (20)
try:
   # Execute the SQL command
   cursor.execute(sql)
   # Commit your changes in the database
   db.commit()
except:
   # Rollback in case there is any error
   db.rollback()

# disconnect from server
db.close()

### 2.7 To implement transactions

In [ ]:
# Prepare SQL query to DELETE required records

sql = "DELETE FROM EMPLOYEE WHERE AGE > '%d'" % (20)
try:
   # Execute the SQL command
   cursor.execute(sql)
   # Commit your changes in the database
   db.commit()
except:
   # Rollback in case there is any error
   db.rollback()

# End of Python Database Demo